target/
*.tgz
!docs/*.tgz
.idea/
*.iml
.settings/
.project
.classpath
.vscode/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
Thumbs.db
_site/
.jekyll-cache/
.sass-cache/
Gemfile.lock
pdfs/
*.py
*.png
